{% block stylesheets %}{% endblock %}
<div class="container-fluid">
    <div class="formMediaTest">
        {{ form_start(form) }}
        
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom, {'attr': {'class': 'test'}}) }}
            {{ form_errors(form.nom) }}
         
            {{ form_label(form.url) }}
            {{ form_widget(form.url, {'attr': {'class': 'test'}}) }}
            {{ form_errors(form.url) }}

            {{ form_label(form.legende) }}
            {{ form_widget(form.legende, {'attr': {'class': 'test'}})}}
            {{ form_errors(form.legende) }}
      
        
            {{ form_label(form.texte) }}
            {{ form_widget(form.texte, {'attr': {'class': 'test'}})}}
            {{ form_errors(form.texte) }}
            
        {{ form_end(form) }}
    </div>
</div>