{% extends 'base.html.twig' %}

{% block title %}Media index{% endblock %}

{% block body %}
    <main class="container-fluid">
        <h1 class="text-center">Media index</h1>

        <table class="table table-striped table-hover table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Legende</th>
                <th>Texte</th>
                <th>Ordre</th>
                <th>Type</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for medium in media %}
                <tr>
                    <td>{{ medium.id }}</td>
                    <td>{{ medium.nom }}</td>
                    <td>{{ medium.legende }}</td>
                    <td>{{ medium.texte }}</td>
                    <td>{{ medium.ordre }}</td>
                    <td>{{ medium.type }}</td>
                    <td>{{ medium.createdAt ? medium.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('media_show', {'id': medium.id}) }}"><i class="fa fa-eye mx-1"></i></a>
                        <a href="{{ path('media_edit', {'id': medium.id}) }}"><i class="fa fa-edit mx-1"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>

{% endblock %}
