{% extends 'base.html.twig' %}

{% block title %}Media index{% endblock %}

{% block body %}
{{ dump(lastArticle) }}
    <h1>Media index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Legende</th>
                <th>Texte</th>
                <th>Ordre</th>
                <th>Type</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medium in media %}
            <tr>
                <td>{{ medium.id }}</td>
                <td>{{ medium.nom }}</td>
                <td>{{ medium.legende }}</td>
                <td>{{ medium.texte }}</td>
                <td>{{ medium.ordre }}</td>
                <td>{{ medium.type }}</td>
                <td>{{ medium.createdAt ? medium.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('media_show', {'id': medium.id}) }}">show</a>
                    <a href="{{ path('media_edit', {'id': medium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
