{% extends 'base.html.twig' %}

{% block title %}New Media{% endblock %}

{% block body %}
    <h1>Ajouter des vidéos</h1>

    {{ include('media/_form.html.twig') }}
        <div>
            <p>Souhaitez-vous ajouter d'autres types de médias</p>
            <a href="{{ path('media_new_image', {'id' : article.id} ) }}">Je veux ajouter des images</a>
            <hr>
            <a href="{{ path('media_new_audio', {'id' : article.id} ) }}">Je veux ajouter des audios</a> 
        </div>  
        
        <div>
            <p>Flemme</p>
            <a href="{{ path('article_show', {'id' : article.id} ) }}">Voir l'article</a>
        </div> 

    <a href="{{ path('media_index') }}">back to list</a>
{% endblock %}