{% extends 'base.html.twig' %}

{% block title %}New Image{% endblock %}

{% block body %}
    <h1>Ajouter des images</h1>

    {{ include('media/_form.html.twig') }}
    <button class="btn btn-success m-3" id="btn_ok">{{ button_label|default('Modification ordre affichage') }}</button>
    
<form method="post">
    <div id="global">
        <div id="sort1" data-sortable=".column" class="ui stackable five column grid relative">
            {% for images in article.media %}
                <div class="column" data-position='{{loop.index0}}' data-id='{{images.id}}'>
                    <div class="ui fluid card">
                        <div class="content">
                            <img src="{{ asset('articles/galeries/images/' ~ images.nom) }}" class=" ui image" height="100px" width="150px">
                            <p><a href="{{ path('media_edit', {'id' : images.id}) }}"><i class="las la-edit"></i></a></p>
                            <p><a href="{{ path('media_delete', {'id' : images.id}) }}"><i class="las la-times"></i></a></p>
                        </div>
                    </div>
                    <input type="hidden" class='ordre' value="{{loop.index0}}"  name="ordre[]">
                    <input type="hidden" value="{{images.id}}" name="image_id[]">
                    
                </div>
            {% endfor %}
        </div>
    </div>
    <button class="btn btn-success m-3" id="btn_reorg" name="reorganisation">{{ button_label|default('Validation ordre affichage') }}</button>
</form>
        <div>
            <p>Souhaitez-vous ajouter d'autres types de médias</p>
            <a href="{{ path('media_new_audio', {'id' : article.id} ) }}">Je veux ajouter des audios</a>
            <hr>
            <a href="{{ path('media_new_video', {'id' : article.id} ) }}">Je veux ajouter des vidéos</a> 
        </div>  
        
        <div>
            <p>Flemme</p>
            <a href="{{ path('article_show', {'id' : article.id} ) }}">Voir l'article</a>
        </div> 
    {# <a href="{{ path('media_index') }}">back to list</a> #}
{% endblock %}