{% extends 'base.html.twig' %}

{% block title %}New Media{% endblock %}

{% block body %}
    <h1>Ajouter des images</h1>

    {{ include('media/_form.html.twig') }}
    <button class="btn btn-success" id="btn_image">{{ button_label|default('Save') }}</button>
    <button class="btn btn-success" id="btn_ok">{{ button_label|default('ok') }}</button>
    
<form method="post">
    <div id="global">
        <div id="sort1" data-sortable=".column" class="ui stackable five column grid relative">
            {% for images in article.media %}
                <div class="column" data-position='{{loop.index0}}' data-id='{{images.id}}'>
                    <div class="ui fluid card">
                        <div class="content"><img src="{{ asset('articles/galeries/images/' ~ images.nom) }}" class=" ui image">
                        </div>
                    </div>
                    {# <input type="text" id="ordre"  name="ordre[]"> #}
                    <input type="hidden" value="{{images.id}}" name="image_id[]">
                    
                </div>
            {% endfor %}
        </div>
    </div>

<button class="btn btn-success" id="btn_reorg" name="reorganisation">{{ button_label|default('reorganisation') }}</button>
</form>
    {# <a href="{{ path('media_index') }}">back to list</a> #}
{% endblock %}