{% extends 'base.html.twig' %}

{% block title %}Media{% endblock %}

{% block body %}

    <div>
        <div  class="ui stackable five column suppression">
            <div class="column">
            <h1>Media</h1>
                    <p class="">Id du media : {{ medium.id }}</p>
                    <p class="">Légende du media : {{ medium.legende }}</p>
                    <p class="">Texte du media : {{ medium.texte }}</p>
                    <p class="">Type du media : {{ medium.type }}</p>
                    <p class="">Date de création du media : {{ medium.createdAt ? medium.createdAt|date('Y-m-d H:i:s') : '' }}</p>
                    <p class="">Aperçu du media : {{ medium.type }}</p>
                <div class="ui fluid card">
                    <div class="content">
                        <img src="{{ asset('articles/galeries/images/' ~ medium.nom) }}" class=" ui image" height="100px" width="(50px">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('media/_delete_form.html.twig') }} 
{% endblock %}
