{% extends 'base.html.twig' %}

{% block title %}Media{% endblock %}

{% block body %}
    <h1>Media</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medium.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ medium.nom }}</td>
            </tr>
            <tr>
                <th>Legende</th>
                <td>{{ medium.legende }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ medium.texte }}</td>
            </tr>
            <tr>
                <th>Ordre</th>
                <td>{{ medium.ordre }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ medium.type }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ medium.createdAt ? medium.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('media_index') }}">back to list</a>

    
    {% if medium.type == 'image' %}
        <a href="{{ path('media_edit', {'id': medium.id}) }}">edit image</a>
    {% elseif medium.type == 'video' %}
        <a href="{{ path('media_edit', {'id': medium.id}) }}">edit video</a>
    {% elseif medium.type == 'audio' %}
        <a href="{{ path('media_edit', {'id': medium.id}) }}">edit audio</a>
    {% endif %}
    {{ include('media/_delete_form.html.twig') }} 
{% endblock %}
