{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

	<div class="row m-0 container-lg m-lg-auto">
		<main class=" col-12 col-md-9">
			<section class="row p-2">
				<p class="border-bottom border-dark col-12 p-0 h3">Derniers articles publiés</p>
				<div class="mainArticle col-12 mb-3">
					<article class="row">
							<img class="col-12 p-0" src="{{ asset('images/berger.jpg')}}" alt="">
							<h1 class="mainTitle">Titre de l'article</h1>
							<h2>Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur.</h2>
					</article>
				</div>

				<div class="otherArticles col-6 mb-3">
					<article class="row">
						<img class="col-12 p-0" src="{{ asset('images/poulo.jpg')}}" alt="">
						<h3>Titre de l'article</h3>
						<h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus fuga eaque voluptates architecto, pariatur alias.</h4>
					</article>
				</div>

				<div class="otherArticles col-6 mb-3">
					<article class="row">
						<img class="col-12 p-0" src="{{ asset('images/poulo2.jpg')}}" alt="">
						<p class="h3">Titre de l'article</p>
						<p class="h4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus fuga eaque voluptates architecto, pariatur alias.</p>
					</article>
				</div>

				<div class="otherArticles col-6 mb-3">
					<article class="row">
						<img class="col-12 p-0" src="{{ asset('images/poulo.jpg')}}" alt="">
						<h3>Titre de l'article</h3>
						<h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus fuga eaque voluptates architecto, pariatur alias.</h4>
					</article>
				</div>

			</section>

		</main>
		<aside class="col-3 p-2 border-left">
			<p class="border-bottom border-dark col-12 p-0">Les plus lus</p>
			<div class="asideArticles row mx-0">
				<img class="col-12 p-0" src="{{ asset('images/Barro.jpg')}}" alt="">
				<p class="h5">Titre de l'article</p>
			</div>
		</aside>
	</div>

{% endblock %}