<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="{{ asset('images/logo/logo.png') }}">
        <title>{% block title %}Fulbe Info ! {% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
        <link rel="stylesheet" href="{{ asset('css/aside.css') }}">
        <link rel="stylesheet" href="{{ asset('css/article.css') }}">
        <link rel="stylesheet" href="{{ asset('css/formMedia.css') }}">
        <link rel="stylesheet" href="{{ asset('css/test_colors.css') }}">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="d-flex justify-content-between p-3 row">
                <!-- burger nav -->
                <div class="col-3">
                    <div class="topnav">
                        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
                        <a href="javascript:void(0);" class="icon h2 text-decoration-none text-dark" onclick="myFunction()">
                            <i class="fa fa-bars"></i> <span class="h4">MENU</span>
                        </a>
                    </div>
                </div>
                <!-- logo -->
                <div class="col-6 text-center">
                    <a href="{{ path('accueil') }}"><img class="logo" src="{{ asset('images/logo/logo2.png') }}" alt=""></a>
                </div>
                <div class="col-3"></div> <!-- <div> vide pour le positionnement central du logo -->
            </div>

            <div id="myLinks" class="pb-2">
                <div class="search-input border rounded mx-2 mx-md-4 my-2 row">
                    <input type="search" placeholder="Rechercher sur le site" class="col-11 py-1">
                    <button class="col-1 text-right"><i class="fa fa-search"></i></button>
                </div>
                <section class="menu-all border-bottom border-secondary pb-2">
                    <div><a href="#">Accueil</a></div>
                    <div><a href="#">Voir les Catégories</a></div>
                    <div><a href="#">Agenda</a></div>
                    <div><a href="#contact">Contact</a></div>
                    <div><a href="#about">About</a></div>
                </section>
                <section class="menu-admin border-bottom border-secondary pb-2">
                    <p class="mb-0"><i class="fa fa-cog"></i> Espace Administrateur</p>
                    <div><a href="{{ path("user") }}">Utilisateurs</a></div>
                    <div><a href="">Articles</a></div>
                    <div><a href="{{ path("media_index") }}">Medias</a></div>
                    <div><a href="{{ path("categorie_index") }}">Catégories</a></div>
                </section>
                <section class="menu-author border-bottom border-secondary pb-2">
                    <p class="mb-0"><i class="fa fa-pencil"></i> Espace Auteur</p>
                    <div><a href="{{ path("article_new") }}">Créer un Article</a></div>
                    <div><a href="">Voir mes Articles</a></div>
                </section>
                <section class="menu-log pt-2">
                    {% if app.session.get('login') %}
                        <div><a href=""><i class="fa fa-user h5"></i> &nbsp;Mon Profil</a></div>
                    {% endif %}
                    <div><a href="{{ app.session.get('login') ? path("deconnexion") : path("connexion") }}"><i class="fa fa-power-off h5"></i>&nbsp; {{ app.session.get('login') ? "Se déconnecter" : "Se connecter" }}</a></div>
                    {% if not app.session.get('login') %}
                        <div><a href="{{ path('inscription') }}"><i class="fa fa-sign-in h5"></i>&nbsp; S'inscrire</a></div>
                    {% endif %}
                </section>
            </div>
        </header>

    <!-- BANDEAU CATEGORIES -->
        <section class="cat-ribbon d-flex flex-wrap justify-content-around py-2">
            {% for cat in categorie() %}
                <a href="" class="my-0 font-weight-bold"> {{ cat.designation }} </a>
            {% endfor %}
        </section>

        <section>
            {{ "hello world"|filter_name }}
           <div>  {{ function_name() }} </div>
        </section>

        {% block body %}{% endblock %}
        <footer  class="d-flex flex-column p-3 mt-5 bg-info">
            <figure>
                <img src="{{ asset('images/ha.png') }}" alt="Harouna Kane" class="rounded-circle d-block mx-auto img-fluid">
                <figcaption class="figure-caption text-center">Harouna Kane <p>Profession</p></figcaption>
            </figure>
            <figure>
                <img src="{{ asset('images/ida.png') }}" alt="Ida Oussada" class="rounded-circle d-block mx-auto img-fluid">
                <figcaption class="figure-caption text-center">Ida Oussada <p>Profession</p></figcaption>
            </figure>
            <figure>
                <img src="{{ asset('images/mantcha.png') }}" alt="Manthia Diawara" class="rounded-circle d-block mx-auto img-fluid">
                <figcaption class="figure-caption text-center">Mantcha Diawara <p>Profession</p></figcaption>
            </figure>
        </footer>
        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
            <script src="{{ asset('js/lodash.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
            <script src="{{ asset('js/form_media.js') }}"></script>
            <script src="{{ asset('js/commentaire.js') }}"></script>
            <script>
                btn_ok.addEventListener("click", function(){
                    sortable = new Sortable(document.querySelector('#sort1'));
                    sortable.success = function(results){
                                    console.log(results);
                    }  
 
                });
                   
                      
            </script>       
            {# <script>
                $(document).ready(function(){
                    $(document).on('change', '.custom-file-input', function () {
                        let fileName = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
                        $(this).parent('.custom-file').find('.custom-file-label').text(fileName);
                    });
                })
            </script> #}

        {% endblock %}
    </body>
</html>
