<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="#">
        <title>{% block title %}Fulbe Info ! {% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
        <link rel="stylesheet" href="{{ asset('css/article.css') }}">
        <link rel="stylesheet" href="{{ asset('css/formMedia.css') }}">
        <link rel="stylesheet" href="{{ asset('css/test_colors.css') }}">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="d-flex justify-content-between p-3">
                <!-- burger nav -->
                <div>
                    <div class="topnav">

                        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
                        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                            <i class="fa fa-bars fa-4x"></i>
                        </a>
                    </div>
                </div>
                <!-- logo -->
                <div>
                    <a href="{{ path('accueil') }}"><img class="logo" src="{{ asset('images/logo/logo2.png') }}" alt=""></a>
                </div>

                <!-- icone user -->
                <div>
                    <a href="{{ app.session.get('login') ? path("deconnexion") : path("connexion") }}"><i class="fa fa-power-off fa-4x"></i></a>
                </div>
            </div>

            <div id="myLinks">
                <div><a href="{{ path("accueil") }}">Articles</a></div>
                <div><a href="{{ path("article_new") }}">Créer un Article</a></div>
                <div><a href="{{ path("categorie_index") }}">Catégories</a></div>
                <div><a href="{{ path("media_index") }}">Medias</a></div>
                <div><a href="#">News</a></div>
                <div><a href="#contact">Contact</a></div>
                <div><a href="#about">About</a></div>
            </div>
        </header>

    <!-- BANDEAU CATEGORIES -->
        <section class="cat-ribbon d-flex flex-wrap justify-content-around py-2">
            <a href="" class="my-0 text-white font-weight-bold">Culture</a>
            <a href="" class="my-0 text-white font-weight-bold">Economie</a>
            <a href="" class="my-0 text-white font-weight-bold">Société</a>
            <a href="" class="my-0 text-white font-weight-bold">Environnement</a>
            <a href="" class="my-0 text-white font-weight-bold">Education</a>
            <a href="" class="my-0 text-white font-weight-bold">Politique</a>
            <a href="" class="my-0 text-white font-weight-bold">Science</a>
        </section>

        <p class="display-4">
            {% if app.session.get('login') %}
                Bienvenue {{ app.session.get('first_name') }} !
            {% endif %}
        </p>
        {% block body %}{% endblock %}
        <footer  class="d-flex flex-column p-3 mt-5 bg-info">
            <figure>
                <img src="{{ asset('images/ha.png') }}" alt="Harouna Kane" class="rounded-circle d-block mx-auto img-fluid">
                <figcaption class="figure-caption text-center">Harouna Kane <p>Profession</p></figcaption>
            </figure>
            <figure>
                <img src="{{ asset('images/ida.png') }}" alt="Ida Oussada" class="rounded-circle d-block mx-auto img-fluid">
                <figcaption class="figure-caption text-center">Ida Oussada <p>Profession</p></figcaption>
            </figure>
            <figure>
                <img src="{{ asset('images/mantcha.png') }}" alt="Manthia Diawara" class="rounded-circle d-block mx-auto img-fluid">
                <figcaption class="figure-caption text-center">Mantcha Diawara <p>Profession</p></figcaption>
            </figure>
        </footer>

        
        <script src="{{ asset('js/main.js') }}"></script>
        <script src="{{ asset('js/form_media.js') }}"></script>
        {% block javascripts %}
            <script>
                $(document).ready(function(){
                    $(document).on('change', '.custom-file-input', function () {
                        let fileName = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
                        $(this).parent('.custom-file').find('.custom-file-label').text(fileName);
                    });
                })
            </script>
        {% endblock %}

    </body>
</html>
