<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="{{ asset('images/logo/logo.png') }}">
        <title>{% block title %}Fulbe Info ! {% endblock %}</title>
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
        <link rel="stylesheet" href="{{ asset('css/aside.css') }}">
        <link rel="stylesheet" href="{{ asset('css/article.css') }}">
        <link rel="stylesheet" href="{{ asset('css/formMedia.css') }}">
        <link rel="stylesheet" href="{{ asset('css/test_colors.css') }}">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        {% block stylesheets %}{% endblock %}
    </head>
    <!-- le flex ne fonctionne pas quand j'entoure le contenu du body dans une <div>, donc le footer ne colle pas au pied de page -->
    <body class="d-flex flex-column">
        <header class="container-fluid">
            <div class="d-flex justify-content-between align-items-center p-3 row">
                <!-- logo -->
                <div class="text-center col-1">
                    <a href="{{ path('accueil') }}"><img class="logo" src="{{ asset('images/logo/logo2.png') }}" alt=""></a>
                </div>

                <!-- BANDEAU CATEGORIES cat-ribbon d-flex flex-wrap justify-content-around py-2-->
                <section class="d-none d-md-block col-md-8">
                    <div class="row text-center text-uppercase">
                        {% for cat in categorie() %}
                            <a href="{{ path('byCategorie', {'id': cat.id}) }}" class="font-weight-bold text-white
                            col-12 col-md-3"> {{ cat
                                .designation }} </a>
                        {% endfor %}
                    </div>
                </section>
                <!-- burger nav -->
                <div class="col-1">
                    <div class="topnav">
                        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
                        <a href="javascript:void(0);" class="icon h2 text-decoration-none " onclick="myFunction()">
                            <i class="fa fa-bars text-white"></i>
{#                            <span class="h4 text-white">MENU</span>#}
                        </a>
                    </div>
                </div>
            </div>

            <div id="myLinks" class="pb-2 text-right">
                <div class="search-input border rounded mx-2 mx-md-4 my-2 row">
                    <input type="search" placeholder="Rechercher sur le site" class="col-10 py-1">
                    <button class="col-1 text-right"><i class="fa fa-search"></i></button>
                </div>
                <section class="menu-all border-bottom border-secondary pb-2">
                    <div><a href="{{ path('accueil') }}">Accueil</a></div>
                    <div><a href="#">Voir les Catégories</a></div>
                    <div><a href="#">Agenda</a></div>
                    <div><a href="#contact">Contact</a></div>
                    <div><a href="#about">About</a></div>
                </section>
                <!-- MENU ADMIN -->
                <section class="menu-admin border-bottom border-secondary pb-2">
                    <p class="mb-0"><i class="fa fa-cog"></i> Espace Administrateur</p>
                    <div><a href="{{ path("user_index") }}">Utilisateurs</a></div>
                    <div><a href="{{ path("article_admin") }}">Articles</a></div>
                    <div><a href="{{ path("media_index") }}">Medias</a></div>
                    <div><a href="{{ path("categorie_index") }}">Catégories</a></div>
                </section>
                <section class="menu-author border-bottom border-secondary pb-2">
                    <p class="mb-0"><i class="fa fa-pencil"></i> Espace Auteur</p>
                    <div><a href="{{ path("article_new") }}">Créer un Article</a></div>
                    {# <div><a href="{{ path('articles_user', {'id': app.session.get('id')}) }}">Voir mes Articles</a></div> #}
                </section>
                <section class="menu-log pt-2">
                    {% if app.session.get("user") %}
                        <div>
                            <a href="{{ path('profil', {'id': app.session.get("user").id}) }}">
                                <i class="fa fa-user h5"></i> &nbsp;
                                Mon Profil ( {{ app.session.get("user").login }} )
                            </a>
                        </div>
                    {% endif %}
                    <div>
                        <a href="{{ app.session.get("user") ? path("deconnexion") : path("connexion") }}">
                            <i class="fa fa-power-off h5"></i>&nbsp;
                            {{ app.session.get("user") ? "Se déconnecter" : "Se connecter" }}
                        </a>
                    </div>
                    {% if not app.session.get("user") %}
                        <div>
                            <a href="{{ path('inscription') }}">
                                <i class="fa fa-sign-in h5"></i>&nbsp; S'inscrire
                            </a>
                        </div>
                    {% endif %}
                </section>
            </div>
        </header>

        <!-- MESSAGE FLASH -->
        <div class="w-100 text-center m-2">
            {% for message in app.flashes("warning") %}
                <div class="alert alert-warning">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes("success") %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>

        <div class="mb-5">
            {% block body %}{% endblock %}
        </div>

        <footer class="mt-auto pt-3 bg-secondary">
            <div class="d-flex flex-column flex-md-row justify-content-around">
                <figure>
                    <img src="{{ asset('images/ha.png') }}" alt="Harouna Kane" class="rounded-circle d-block mx-auto img-fluid">
                    <figcaption class="figure-caption text-center text-light">Harouna Kane <p>Profession</p></figcaption>
                </figure>
                <figure>
                    <img src="{{ asset('images/ida.png') }}" alt="Ida Oussada" class="rounded-circle d-block mx-auto img-fluid">
                    <figcaption class="figure-caption text-center text-light">Ida Oussada <p>Profession</p></figcaption>
                </figure>
                <figure>
                    <img src="{{ asset('images/mantcha.png') }}" alt="Manthia Diawara" class="rounded-circle d-block mx-auto img-fluid">
                    <figcaption class="figure-caption text-center text-light">Mantcha Diawara <p>Profession</p></figcaption>
                </figure>
            </div>
            <div class="reseauSocial d-flex justify-content-around">
                <a href="" class="text-white display-4"><i class="fa fa-facebook-square"></i> </a>
                <a href="" class="text-white display-4"><i class="fa fa-youtube-square"></i> </a>
            </div>
            <div class="text-center text-white p-3 bg-dark">
                Copyright &copy; - Jalaltv {{ "now" | date("Y") }}
            </div>
        </footer>
        {% block javascripts %}
            <script src="{{ asset('js/interact.js') }}"></script>
            <script src="{{ asset('js/lodash.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
            <script src="{{ asset('js/form_media.js') }}"></script>
            <script src="{{ asset('js/commentaire.js') }}"></script>
            <script>
                var btn_modif_ordre = document.getElementById('btn_modif_ordre');
                var div_btn_valid = document.getElementById("div-btn-valid");
                var div_other_choices = document.getElementById("other-choices");
                if(btn_modif_ordre){
                    // Get the modal
                    var modal = document.getElementById("myModal");

                    // Get the button that opens the modal
                    var btn_modif_ordre = document.getElementById("btn_modif_ordre");

                    // Get the <span> element that closes the modal
                    var span = document.getElementsByClassName("close")[0];
                    btn_modif_ordre.addEventListener("click", function(){
                        modal.style.display = "block";
                        sortable = new Sortable(document.querySelector('#sort1'));
                        sortable.success = function(results){
                            var nb_img = _.size(results);
                            console.log(results);
                           
                            for(id in results){
                                //récupérer la div avec le data.id
                                //à partir de la div récupérer le input de l'ordre
                                //attribuer la bonne valeur
                                input_ordre = document.querySelector('.column[data-id="'+id+'"] .ordre');
                                input_ordre.value = results[id];
                                console.log(input_ordre);
                                console.log(id);
                            }

                            // When the user clicks on <span> (x), close the modal
                            span.onclick = function() {
                            modal.style.display = "none";
                            }

                             
                        }
                        
                    });


                }
            </script>       
            <script>
                 //PERMET D'AFFICHER LE NOM DU FILE DANS LE CHAMP INPUT
                $(document).ready(function(){
                    $(document).on('change', '.custom-file-input', function () {
                        let fileName = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
                        $(this).parent('.custom-file').find('.custom-file-label').text(fileName);
                    });
                })
            </script>

        {% endblock %}
    </body>
</html>
