{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <main class="container-fluid">
        <h1 class="text-center">Catégorie <strong>{{ categorie.designation }}</strong></h1>

        <table class="table table-striped table-bordered table-hover">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Désignation</th>
                <td>{{ categorie.designation }}</td>
            </tr>
            <tr>
                <th>Date création</th>
                <td>{{ categorie.createdAt ? categorie.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('categorie_index') }}" class="btn btn-secondary"><i class="fa fa-hand-o-left"></i>
             &nbsp; retouner à la liste</a>

        <a href="{{ path('categorie_edit', {'id': categorie.id}) }}" class="btn btn-secondary"><i class="fa
        fa-edit"></i>
            &nbsp; Modifier</a>

        {{ include('categorie/_delete_form.html.twig') }}
    </main>
{% endblock %}
