{{ form_start(form) }}
    {{ form_widget(form) }}
    <hr class="">
    <div class="">
	    <section class="form_img row">
		    <button id="btn_image" class="btn border border-secondary col-12 my-1" data-toggle="collapse" data-target="#formMedia" aria-expanded="false" aria-controls="formMedia">
		    	Ajouter une image <i class="fa fa-plus"></i>
		    </button>
		</section>
	    <section class="form_video row">
		    <button id="btn_video" class="btn border border-secondary col-12 my-1" data-toggle="collapse" data-target="#formMedia" aria-expanded="false" aria-controls="formMedia">
		    	Ajouter une vidéo <i class="fa fa-plus"></i>
		    </button>
		</section>
	    <section class="form_audio row">
		    <button id="btn_audio" class="btn border border-secondary col-12 my-1" data-toggle="collapse" data-target="#formMedia" aria-expanded="false" aria-controls="formMedia">
		    	Ajouter de l'audio <i class="fa fa-plus"></i>
		    </button>
		</section>
	</div>
{#
	<ul id="media-fields-list"
        data-prototype="{{ form_widget(form.media.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ form.media|length }}">
    {% for formulaireMedia in form.media %}
        <li>
            {{ form_errors(formulaireMedia) }}
            {{ form_widget(formulaireMedia) }}
        </li>
    {% endfor %}
    </ul>
	<button type="button"
        class="add-another-collection-widget"
        data-list-selector="#media-fields-list">Add another image</button>
#}		
    <button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>		
{{ form_end(form) }}







{#  
	<section id="formMedia" class="collapse m-auto">
    	{{ form_widget(formMedia) }}
		<p class="bg-white text-center p-1">Une fois tous vos fichiers sélectionnés, cliquez sur "<span class="text-success font-weight-bold">J'ai fini</span>" pour choisir l'ordre d'affichage</p>
		<div class="uploaded_image row"></div>
		<div class="uploaded_video bg-danger"></div>
		<div class="uploaded_audio bg-warning"></div>
		<div class="m-auto d-flex justify-content-center">
			<p id="nb_max" class="bg-warning d-none">Nombre max atteint</p>
			<button id="new_image" class="btn border border-success bg-white text-success font-weight-bold mx-2 d-none">Ajouter une autre image <i class="fa fa-plus"></i></button>
			<button id="new_video" class="btn border border-secondary my-1 d-none">Ajouter une autre vidéo</button>
			<button id="new_audio" class="btn border border-secondary my-1 d-none">Ajouter un autre audio</button>
			<button id="image_done" class="btn border border-white text-white bg-success font-weight-bold mx-2 d-inline-block"><i class="fa fa-check-circle"></i> J'ai fini</button>
		</div>
    </section>
#}