{% extends 'base.html.twig' %}

{% block title %}{{'Mes articles'}}{% endblock %}

{% block body %}
    <div class="m-0 container-lg m-lg-auto">
        <main class="">
        <!-- if statut == auteur/admin -->
        <hr>
        <div>
            <h2>Articles publiés</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Titre</th>
                        <th>Catégorie</th>
                        <th>Posté le</th>
                        <th>Médias</th>
                        <th>Commentaires</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td><img class="p-0 main-img" src="{{ asset('articles/main_img/'~ article.mainImage) }}" alt="image de couverture"></td>
                        <td>{{article.title}}</td>
                        <td>{{article.categorie.designation}}</td>
                        <td>{{article.artCreatedAt|date('d-m-Y')}}</td>
                        <td>
                        {# {% for media in medias %}
                            {{ article.id == media.article ? '<i class="fa fa-check"></i>' : '<i class="fa fa-times"></i>'}}
                        {% endfor %} #}
                        </td>
                        <td>{{article.title}}</td>
                        <td><a href=""><i class="fa fa-edit fa-2x text-success"></i></a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Aucun article publié</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- endif -->
        </main>
    </div>

{% endblock %}