{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <div class="row m-0 container-lg m-lg-auto">

        <main class="col-12 col-md-9">
            <article>
            <!-- BLOCK ARTICLE -->
                <section class="block-article row">
                    <span class="col-12 pl-0 border-bottom border-dark mb-2">{{ article.categorie.designation }}</span>
                    <h1 class="mainTitle">{{ article.title }}</h1>
                    <small class="mt-0 col-12 pl-0">{{ 'Publié le '~ article.artCreatedAt|date('d-m-Y') }}</small>
                    <img class="p-0 mt-2 col-12" src="{{ asset('images/'~ article.mainImage) }}" alt="{{ article.mainImage }}">
                    <h2>{{ article.secondaryTitle }}</h2>
                    <p class="mt-3">{{ article.content | nl2br }}</p>
                </section>

            <!-- BLOCK GALERIE -->
                <section class="block-galerie bg-secondary my-2 row">
                    Galerie des médias
                </section>

            <!-- BLOCK AUTEUR -->
                <section class="banner-author bg-info row">
                    <p class="text-white border-bottom m-0 pl-2 col-12"><em>
                    Cet article a été rédigé par
                    </em></p>
                    <div class="d-flex">
                        <div class="pl-1">
                            <img id="avatar-author" class="rounded-circle p-2" src="{{ asset('images/avatars/'~ article.user.avatar) }}" alt="">
                        </div>
                        <div>
                            <p class="pt-2 mb-0">
                                <strong> {{ article.user.firstName ~ ' ' ~  article.user.lastName }} </strong>
                            </p>
                            <p>{{ article.user.description }}</p>
                        </div>
                    </div>
                </section>
            </article>

            <!-- BLOCK COMMENTAIRES  -->
            {% if(commentaires) %}
                <hr>
                    3 à 5 derniers commentaires ici !
                <hr>
            {% endif %}
            <section class="col-12 mt-3 py-2 bg-info">
                <h3>Participer à la discussion</h3>
                {{ form_start(form) }}
                {{ form_end(form) }}
            </section>
        </main>

        <!-- ASIDE -->
        <aside class="col-3 p-2 border-left">
            <p class="border-bottom border-dark p-0">{{ aside > 1 ? "Dans la même catégorie" : "Ajouté récemment" }}</p>
            <div class="asideArticles mx-0">
            {% if aside > 1 %}
                {% for a in aside %}
                    {% if (article.categorie is same as(a.categorie)) and (article.id is not same as(a.id)) %}
                        <a href="{{ path('this_article', {'id': a.id}) }}" class="text-decoration-none text-dark d-flex flex-column justify-content-end mb-2" 
                         style="background-image: url( {{ asset('images/'~ a.mainImage) }} )">
                            <span class="aside-title h5">{{ a.title }}</span>
                        </a>
                    {% endif %}
                {% endfor %}
            {# le (else) ne fonctionne pas #}
            {% else %}
                {% for l in last %}
                    {% if article.id is not same as(l.id) %}
                        <a href="{{ path('this_article', {'id': l.id}) }}" class="text-decoration-none text-dark mb-2">
                            <img class="p-0" src="{{ asset('images/'~ l.mainImage) }}" alt="">
                            <div class="aside-title">
                                <span class="h5">{{ l.title }}</span>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </div>
        </aside>
    </div>

{% endblock %}
