{% extends 'base.html.twig' %}

{% block title %}Interface admin articles{% endblock %}

{% block body %}
    <h1>Administration Articles</h1>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Titre Principal</th>
                <th>Titre secondaire</th>
                <th>Auteur</th>
                <th>Catégorie</th>
                <th>Date de création</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.secondaryTitle }}</td>
                <td>{{ article.user.firstName ~ ' ' ~  article.user.lastName }}</td>
                <td>{{ article.categorie.designation }}</td>
                <td>{{ article.artCreatedAt ? article.artCreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('article_show', {'id': article.id}) }}"><i class="las la-eye"></i></a>
                    <hr>
                    <a href="{{ path('article_edit', {'id': article.id}) }}"><i class="las la-edit"></i></a>
                    <a href="{{ path('article_delete', {'id': article.id}) }}"><i class="las la-times"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
