{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}
{% block body %}
    <div class="row m-0 container-lg m-lg-auto">

        <main class="col-12 col-md-9">
            <article>
            <!-- BLOCK ARTICLE -->
                <section class="block-article row">
                    <span class="col-12 pl-0 border-bottom border-dark mb-2">{{ article.categorie.designation }}</span>
                    <h1 class="mainTitle">{{ article.title }}</h1>
                    <small class="mt-0 col-12 pl-0">{{ 'Publié le '~ article.artCreatedAt|date('d-m-Y') }}</small>
                    <img class="p-0 mt-2 col-12" src="{{ asset('articles/main_img/'~ article.mainImage) }}" alt="{{ article.mainImage }}">
                    <h2>{{ article.secondaryTitle }}</h2>
                    <p class="mt-3">{{ article.content | nl2br }}</p>
                </section>

            <!-- BLOCK GALERIE -->
                <section class="block-galerie  my-2 row">
                   <h1> Galerie des médias </h1>
                    <div class="diapo-images">
                        <div class="elements">
                            {% if(images) %}
                                <hr>
                                {% for image in images %}
                                    <div class="element">
                                        <img src="{{ asset('articles/galeries/images/' ~ image.nom) }}" height="500px" width="500px">
                                        <div class="caption">
                                            <h2>Légende : {{image.legende}}</h2>
                                            <p>Descriptif: {{image.texte}}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <!-- Flèches de navigation -->
                        <i id="nav-gauche" class="las la-chevron-left"></i>
                        <i id="nav-droite" class="las la-chevron-right"></i>
                    </div>
                </section>
                
            <!-- BLOCK AUTEUR -->
                <section class="banner-author bg-info row">
                    <p class="text-white border-bottom m-0 pl-2 col-12"><em>
                    Cet article a été rédigé par
                    </em></p>
                    <div class="d-flex">
                        <div class="pl-1">
                            <img id="avatar-author" class="rounded-circle p-2" src="{{ asset('images/avatars/'~ article.user.avatar) }}" alt="avatar de l'auteur">
                        </div>
                        <div>
                            <p class="pt-2 mb-0">
                                <strong> {{ article.user.firstName ~ ' ' ~  article.user.lastName }} </strong>
                            </p>
                            <p>{{ article.user.description }}</p>
                        </div>
                    </div>
                </section>
            </article>

            <!-- BLOCK COMMENTAIRES  -->
            {% if(commentaires) %}
                <hr>
            <div id="div-comment">
            {% for commentaire in commentaires %}
                <div class="row">
                    <div class="col-2">
                        <div class="row">
                            <img id="avatar-author" class="rounded-circle p-2 col-12" src="{{ asset('images/logo/avatar_commentaire.png') }}" alt="avatar">
                        </div>
                    </div>
                    <div class="mt-4 col-10">
                        <div class="row">
                            <strong class="col-12">{{ commentaire.user }} </strong>
                            <span class="col-12 font-italic ">le {{ commentaire.commentAt|date('d F Y à H:i:s') }}</span>
                        </div>
                    </div>
                </div>
                <div class="my-3">
                    {{ commentaire.comment }}
                </div>
                <div>
                    <button value="{{ commentaire.id }}" class="btn p-1 like">
                        <i class="fa fa-thumbs-up"><span class="badge ml-2 likeCompt" id="like{{ commentaire.id }}"> +{{ commentaire.likeComment }}</span></i>
                    </button> &nbsp;
                    <button value="{{ commentaire.id }}" class="btn p-1 unlike">
                        <i class="fa fa-thumbs-down"><span class="badge ml-2 unlikeCompt" id="unlike{{ commentaire.id }}">-{{ commentaire.unlikeComment }}</span></i>
                    </button>
                </div>
                <hr class="border-bottom border-dark">
            {% endfor %}
            </div>

            {% endif %}
            <!-- FORM COMMENTAIRES  -->
            <section class="col-12 mt-3 py-2 bg-info">
                <h3>Participer à la discussion</h3>
                {{ form_start(form) }}
                {{ form_end(form) }}
            </section>
        </main>

        <!-- ASIDE -->
        <aside class="col-3 p-2 border-left">
            <p class="border-bottom border-dark p-0">{{ aside|length > 1 ? "Dans la même catégorie" : "Ajouté récemment" }}</p>
            <div class="asideArticles mx-0">
            {% if aside|length > 1 %}
                {% for a in aside %}
                    {% if (article.categorie is same as(a.categorie)) and (article.id is not same as(a.id)) %}
                        <a href="{{ path('article_show', {'id': a.id}) }}" class="text-decoration-none text-dark d-flex flex-column justify-content-end mb-2" 
                         style="background-image: url( {{ asset('articles/main_img/'~ a.mainImage) }} )">
                            <span class="aside-title h5">{{ a.title }}</span>
                        </a>
                    {% endif %}
                {% endfor %}
            {# le (else) ne fonctionne pas #}
            {% else %}
                {% for l in last %}
                    {% if article.id is not same as(l.id) %}
                        <a href="{{ path('article_show', {'id': l.id}) }}" class="text-decoration-none text-dark d-flex flex-column justify-content-end mb-2"
                           style="background-image: url( {{ asset('articles/main_img/'~ l.mainImage) }} )">
                            <span class="aside-title h5">{{ l.title }}</span>
                        </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </div>
        </aside>
    </div>

{% endblock %}
