{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}
{% block body %}
    <div class="row m-0 container-lg m-lg-auto">

        <main class="col-12 col-md-9">
            <article>
            <!-- BLOCK ARTICLE -->
                <section class="block-article row">
                    <span class="col-12 pl-0 border-bottom border-dark mb-2 mt-3">{{ article.categorie.designation }}</span>
                    <h1 class="mainTitle">{{ article.title }}</h1>
                    <small class="mt-0 col-12 pl-0">{{ 'Publié le '~ article.artCreatedAt|date('d-m-Y') }}</small>
                    <img class="main-img mt-2 col-12" src="{{ asset('articles/main_img/'~ article.mainImage) }}" alt="{{ article.mainImage }}" />
                    <h2 class="col-12">{{ article.secondaryTitle }}</h2>
                    <p class="mt-3 contenu">{{ article.content | nl2br }}</p>
                </section>

            <!-- BLOCK GALERIE -->
                <section class="block-galerie  my-4 row">
                    <h1> Galerie des médias </h1>
                    <div class="diapo-images">
                        <div class="heading"><h2>Images</h2></div>
                        <div class="elements">
                            {% if(images) %}
                                {% for image in images %}
                                {# {{dump(image.ordre + 1)}} #}
                                    <div class="element">
                                        <img src="{{ asset('articles/galeries/images/' ~ image.nom) }}" height="500px" width="500px" alt="image galerie">
                                        <div class="caption">
                                            <p>Image {{image.ordre + 1}} sur {{nb_total_img}}</p>
                                            <h2>Légende : {{image.legende}}</h2>
                                            <p>Descriptif: {{image.texte}}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>Il n'y a pas d'images dans cet article</p>
                            {% endif %}
                        </div>
                        <!-- Flèches de navigation -->
                        <i id="nav-gauche" class="las la-chevron-left"></i>
                        <i id="nav-droite" class="las la-chevron-right"></i>
                    </div>
                    <div class="heading"><h2>Audios</h2></div>
                    <div class="diapo-audios">
                        {% if(audios) %}
                        {% for audio in audios %}
                             <div class="audio-container">
                                <p><strong>Légende : </strong>{{audio.legende}}</p>
                                <audio controls>
                                    <source src="{{ asset('articles/galeries/audios/' ~ audio.nom) }}" type="audio/mpeg">
                                    <source src="{{ asset('articles/galeries/audios/' ~ audio.nom) }}" type="audio/ogg">
                                    Your browser does not support the audio element.
                                </audio>
                                <div class="">
                                    
                                    <p><strong>Descriptif: </strong> {{audio.texte}}</p>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                            <p>Il n'y a pas d'audios dans cet article</p>
                        {% endif %}
                    </div>
                    <div class="heading"><h2>Vidéos</h2></div>
                    <div class="diapo-videos">
                        {% if(videos) %}
                            {% if(videos_url) %}
                                {% for video_url in videos_url %} 
                                    <div class="video-container">
                                        <p><strong>Légende : </strong>{{video_url.legende}}</p>                   
                                        <iframe width="350" height="200" src="https://www.youtube.com/embed/{{video_url.url}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                        </iframe>
                                        <p><strong>Descriptif : </strong>{{video_url.texte}}</p>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% if(videos_fichier) %}
                                {% for video_fichier in videos_fichier %}
                                    <div class="video-container">
                                        <p><strong>Légende : </strong>{{video_fichier.legende}}</p> 
                                        <video controls width="350" height="200">
                                            <source src="{{ asset('articles/galeries/videos/' ~ video_fichier.nom) }}" type="video/webm">
                                            <source src="{{ asset('articles/galeries/videos/' ~ video_fichier.nom) }}" type="video/mp4">
                                        </video>
                                        <p><strong>Descriptif : </strong>{{video_fichier.texte}}</p>  
                                    </div>  
                                {% endfor %}
                            {% endif %} 
                        {% else %}
                            <p>Il n'y a pas de vidéos dans cet article</p>
                        {% endif %} 

                    </div>
                </section>
                
            <!-- BLOCK AUTEUR -->
                <section class="banner-author bg-info row">
                    <p class="text-white border-bottom m-0 pl-2 col-12"><em>
                    Cet article a été rédigé par
                    </em></p>
                    <div class="d-flex">
                        <div class="pl-1">
                            <img id="" class="avatar-author rounded-circle p-2" src="{{ asset('images/avatars/'~ article.user.avatar) }}" alt="avatar de l'auteur">
                        </div>
                        <div>
                            <p class="pt-2 mb-0">
                                <strong> {{ article.user.firstName ~ ' ' ~  article.user.lastName }} </strong>
                            </p>
                            <p>{{ article.user.description }}</p>
                        </div>
                    </div>
                </section>
            </article>

            <!-- BLOCK COMMENTAIRES  -->
            {% if(commentaires) %}
                <h3 class="bg-secondary p-2 text-light">Commentaires</h3>
                <hr>
            <div id="div-comment">
            {% for commentaire in commentaires %}
            <!-- ajouter une 'div' qui englobe tout le commentaire ? -->
            <!-- réduire taille de l'avatar et float du texte à sa droite -->
                <div class="row">
                    <div class="unchange col-2">
                        <div class="row">
                            <img id="" class="avatar-author rounded-circle col-12" src="{{ asset('images/logo/avatar_commentaire.png') }}" alt="avatar">
                        </div>
                    </div>
                    <div class="mt-4 col-10">
                        <div class="row">
                            <strong class="userComment col-12">{{ commentaire.user }} </strong>
                            <span class="dateComment col-12 font-italic ">le {{ commentaire.commentAt|date('d F Y à H:i:s') }}</span>
                        </div>
                    </div>
                </div>
                <div class="contentComment my-3">
                    {{ commentaire.comment }}
                </div>
                <div>
                    <button value="{{ commentaire.id }}" class="btn p-1 like">
                        <i class="fa fa-thumbs-up"><span class="badge ml-2 likeCompt" id="like{{ commentaire.id }}"> +{{ commentaire.likeComment }}</span></i>
                    </button>
                    <span class="VerticalLine"></span>
                    <button value="{{ commentaire.id }}" class="btn p-1 unlike">
                        <i class="fa fa-thumbs-down"><span class="badge ml-2 unlikeCompt" id="unlike{{ commentaire.id }}">-{{ commentaire.unlikeComment }}</span></i>
                    </button>
                </div>
                <hr class="border-bottom border-dark">
            {% endfor %}
            </div>

            {% endif %}
            <!-- FORM COMMENTAIRES  -->
            <section class="col-12 mt-3 py-2 bg-info">
                <h3>Participer à la discussion</h3>

{#                {{ form_start(form) }}#}
{#                {{ form_end(form) }}#}

                {{ form_start(form) }}

                {{ form_row(form.user) }}
                {{ form_row(form.comment) }}

                {{ form_row(form.Poster, {'attr' : {'value': article.id, "class": "commentaire_Poster btn btn-primary"}}) }}
                {{ form_end(form) }}
            </section>
        </main>

        <!-- ASIDE -->
        <aside class="col-3 p-2 border-left mt-2">
            <p class="border-bottom border-dark p-0">{{ aside|length > 1 ? "Dans la même catégorie" : "Ajouté récemment" }}</p>
            <div class="asideArticles mx-0">
            {% if aside|length > 1 %}
                {% for a in aside %}
                    {% if (article.categorie is same as(a.categorie)) and (article.id is not same as(a.id)) %}
                        <a href="{{ path('article_show', {'id': a.id}) }}" class="text-decoration-none text-dark d-flex flex-column justify-content-end"
                         style="background-image: url( {{ asset('articles/main_img/'~ a.mainImage) }} )">
                            <span class="aside-title h5">{{ a.title }}</span>
                        </a>
                        <hr>
                    {% endif %}
                {% endfor %}
            {# le (else) ne fonctionne pas #}
            {% else %}
                {% for l in last %}
                    {% if article.id is not same as(l.id) %}
                        <a href="{{ path('article_show', {'id': l.id}) }}" class="text-decoration-none text-dark d-flex flex-column justify-content-end mb-2"
                           style="background-image: url( {{ asset('articles/main_img/'~ l.mainImage) }} )">
                            <span class="aside-title h5">{{ l.title }}</span>
                        </a>
                        <hr>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </div>
        </aside>
    </div>

{% endblock %}
