{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}

    <main class="container-fluid m-0 table-responsive">
        <h1 class="text-center">Liste des utilisateurs</h1>

        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr class="thead-dark">
                <th>Avatar</th>
                <th>Login</th>
                <th>Mail</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Civilité</th>
                <th>Pays</th>
                <th>Date d'inscription</th>
                <th>Status</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td style="width: 30px">
                        <a href="{{asset('images/avatars/' ~ user.avatar) }}">
                            <img class="rounded-circle w-100" src="{{asset('images/avatars/' ~ user.avatar) }}" alt="avatar">
                        </a>
                    </td>
                    <td>{{ user.login }}</td>
                    <td>{{ user.mail }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.civility }}</td>
                    <td>{{ user.country }}</td>
                    <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ user.status }}</td>
                    <td>{{ user.state }}</td>
                    <td>
                        <a href="{{ path('profil_user', {'id': user.id}) }}">
                            <i class="fa fa-eye mx-1"></i>
                        </a>
                        <a href="{{ path('profil_edit', {'id': user.id}) }}">
                            &nbsp; <i class="fa fa-edit mx-1"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>

{% endblock %}