{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} - Mon Profil{% endblock %}

{% block body %}
<div class="m-0 container-lg m-lg-auto">
    <section id="profil-user" class="mt-4">
        <div class="d-flex flex-column flex-md-row justify-content-md-between">
            <div class="mx-auto ml-md-2">
                <img class="avatar-user rounded-circle p-2" src="{{ asset('images/avatars/'~ user.avatar) }}" alt="avatar de l'utilisateur">
            </div>
            <div class="pl-md-3 text-center text-md-left">
                <h1 class="h1">Profil de <strong>{{ user.login|capitalize }}</strong></h1>
                <p class="h3">
                    <span>{{ user.civility == 'homme' ? '<i class="fa fa-mars"></i>' : '<i class="fa fa-venus"></i>' }}</span> 
                    {{ user.id == app.session.get('id') ? user.firstName|capitalize ~' '~ user.lastName|capitalize ~' - '~ user.country : ' - '~ user.country }}
                </p>
                {% if user.id == app.session.get('id') %}
                    <p class="h5"><i class="fa fa-envelope"></i> <em>{{ user.mail }}</em></p>
                {% endif %}
                <p class="h4"><i class="fa fa-book"></i> {{ user.description }}</p>
            </div>
        </div>
    </section>
    
    {% if app.session.get('id') and app.session.get('id') == user.id %}
        <hr>
        <button id="btn-profil" type="button" class="btn btn-secondary btn-lg btn-block">Modifier mon profil</button>
        <section id="modif-user" class="d-none">
            <div class="h1 bg-info">FORMULAIRE MODIF PROFIL</div>
            <section class="d-block mx-5 p-3 bg-info">
                {{ form_start(form) }}
                    {{ include('user/paysResidence.html.twig') }}
                    <div class="form-row">
                        <div class="col-md-12">
                            {{ form_row(form.civility, {'attr': {'class': 'form-check-inline'}}) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.first_name) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.last_name) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.mail) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.login) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.country) }}
                        </div>
                        <div class="col-md-6">
                        {{ form_row(form.avatar) }}
                        </div>
                        <div class="col-md-12">
                            {{ form_row(form.description) }}
                        </div>
                        <div class="col-md-12">
                            {{ form_row(form.Enregistrer) }}
                        </div>
                    </div>
                {{ form_end(form) }}
            </section>
        </section>
        <a href="" class="btn btn-secondary btn-lg btn-block mt-2">Changer le mot de passe</a>
    {% endif %}

</div>
{% endblock %}