{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} - Mon Profil{% endblock %}

{% block body %}
    <div class="container-fluid">
        <section id="profil-user" class="mt-4">
            <div class="d-flex flex-column flex-md-row justify-content-md-between">
                <div class="mx-auto ml-md-2">
                    <img class="avatar-user rounded-circle p-2" src="{{ asset('images/avatars/'~ user.avatar) }}" alt="avatar de l'utilisateur">
                </div>
                <div class="pl-md-3 text-center text-md-left">
                    <h2 class="h1">Profil de <strong>{{ user.login|capitalize }}</strong></h2>
                    <p class="h3">
                        <span>{{ user.civility == 'homme' ? '<i class="fa fa-mars"></i>' : '<i class="fa fa-venus"></i>' }}</span>
                        {{ user.firstName|capitalize ~' '~ user.lastName|capitalize ~' - '~ user.country }}
                    </p>

                    <p class="h5"><i class="fa fa-envelope"></i> <em> {{ user.mail }}</em></p>

                    <p class="h4"><i class="fa fa-book"></i> {{ user.description }}</p>
                    <p class="h4"><i class="fa fa-calendar"></i> {{ user.createdAt|date('Y-m-d H:i:s') }}</p>
                </div>
            </div>
        </section>
        <a href="{{ path('user_index') }}" class="btn btn-secondary mt-3 ml-5">
            <i class="fa fa-hand-o-left"></i> &nbsp; retourner à la liste
        </a>

        <div>
            {% if app.session.get('user') and app.session.get('user').id == user.id %}
                <hr>
                <button id="btn-profil" type="button" class="btn btn-secondary btn-lg btn-block">Modifier mon profil</button>
                <section id="modif-user" class="d-none">
                    <div class="p-3 shadow rounded bg-light">
                        {{ include('user/_form.html.twig') }}
                    </div>
                </section>
                <button id="btn-mdp" type="button" class="btn btn-secondary btn-lg btn-block mt-3">Changer le mot de passe</button>
                <section id="modif-mdp" class="d-none">
                    <div class="p-3 shadow rounded bg-light">
                        {{ form_start(mdpForm) }}
                        <div class="form-row">
                            <div class="col-md-12 border-bottom">
                                {{ form_row(mdpForm.oldPassword) }}
                            </div>
                            <div class="col-md-12 mt-2">
                                {{ form_row(mdpForm.password) }}
                            </div>
                            <div class="col-md-12">
                                {{ form_row(mdpForm.Enregistrer) }}
                            </div>
                        </div>
                        {{ form_end(mdpForm) }}
                    </div>
                </section>
                <div class="mt-3">
                    {{ include('user/_delete_form.html.twig') }}
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}